body{
    background-image: url("https://store-images.s-microsoft.com/image/apps.55453.64809307044061818.61b1d7a1-2194-4bcc-b9a1-d6f87fcc5aed.84f3d2a4-b07d-469b-862f-77488558d157?mode=scale&q=90&h=1080&w=1920&background=%23FFFFFF");
    background-size: cover;
}

#bullet_indicator{
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 36px;
    text-shadow: 2px 2px #000000;
}

.game-display {
  background: black;
  color: white;
  width: 95%;
  height: 90%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  overflow: auto;
  cursor:crosshair;
    border: solid;
    background-size: cover;
    background-position: bottom;
    background-image: url("cropped.jpg");
}

.gun{
    position: fixed;
    bottom: 0;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    height: 200px;
}

.bullet{
    position: relative;
    top: 85%;
    left: 40%;
    height: 50px;
    width: 25px;
}

.game-border{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 600px;
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
  background: none;
}

#music-button {
    color: red;
    padding: 1em;
}

#enemy_test {
    position: fixed;
    top: 30%;
    left: 50%;
    height: 60px;
    width: 40px;
    background: aqua;
}