<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datatest</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link href="/static/teszt.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="game-border" id="game-border"  draggable="false">
        <div align="center" class="game-display" id="teszt">
            <table>
                {%  for user in users  %}
                    <tr>
                        <td bgcolor="white">{{ user['name'] }} {{ user['high_score'] }}</td>
                    </tr>
                {% endfor %}
            </table>
        <form action="{{ url_for('index') }}">
            <button type="submit" id="back-to-main" class="btn btn-light btn-lg" >Back to main page</button>
        </form>
        </div>
    </div>
</body>
</html>