<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{{ url_for('static', filename='teszt.js') }}" type="text/javascript" defer></script>
    <link href="/static/teszt.css" type="text/css" rel="stylesheet">
</head>
<body style="margin-left: 0; margin-top: 0; margin-right: 0">
    <div class="parent" draggable="false">
        <div align="center" class="child" id="teszt">
            <img aria-disabled="true" id="gun" class="gun" src="static/gun_1.png" style="margin-bottom: 0%" draggable="false">
            <p id="hello">Hello</p>
        </div>
    </div>
</body>
</html>