<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DOOM Login</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link href="/static/teszt.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="game-border" id="game-border"  draggable="false">
        <div align="center" class="game-display" id="teszt">
            <h1>Login</h1>
            {% if error %}
                <h2 class="error">Invalid username or password!</h2>
            {% endif %}
            <form method="post">
                <label for="username"></label>
                <input type="text" name="username" id="username" placeholder="Username" required autocomplete="off">
                <label for="password"></label>
                <input type="password" name="password" id="password" placeholder="Password" required autocomplete="off">
                <button type="submit">Login</button>
                <br>
                <p>Don't have an account?</p>
                <a id="sign-up" href="{{ url_for('register_user') }}">Sign Up</a>
                <br><br><br>
                <p>Don't want to register?</p>
                <a href="{{ url_for('index') }}">Continue without Logging In</a>
            </form>
        </div>
    </div>
</body>
</html>