<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>High scores</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link href="/static/teszt.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="game-border" id="game-border"  draggable="false">
        <div align="center" class="game-display" id="teszt">
            <p>{{ username }}'s score:</p>
            <p>{{ new_highscore }}</p>
            <table>
                {%  for user in users  %}
                    <tr>
                        <td bgcolor="white">{{ user['name'] }} {{ user['high_score'] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>